#background {
    height: 725px;
}
body{
background-color: #157A6E;}

header{
background-color: rgb(150, 149, 143);
}

nav a:hover{
background-color: #FF6B35;}

.book, .join{
background-color: #157A6E;}

.book:hover, .join:hover{
background-color: #FF6B35;}

#background{
background-color: #004E89;}

.msg{
background-color: #004E89;}

footer{
background-color: rgb(150, 149, 143);}