body{
display: flex;
background-color: green;
}
.image1{
text-align: center;
}
img{
border-radius: 3cm;
height: 300px;
width: 200px;
}
.image2{
border-width:
}
img{
border-radius: 3cm;
height: 300px;
width: 200px;
}